@use"../base/tipografia";
@use"../utilities/mixin";
@use"../utilities/variables";

.card-titulo {
    @include mixin.flex(row, space-evenly, center);
    margin: 0;
    text-align: center;
    font-family: "Playfair", serif;
    color: variables.$textclear;
    background: linear-gradient(to bottom, variables.$colorsecondary, variables.$backgroundsecondary);

}

.card-content {
    @include mixin.flex(row, space-around, center);

    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40rem;
        height: 20rem;
        border: 2px solid black;
        border-radius: 20px;
        background-color: variables.$backgroundsecondary;

        .card-img {
            display: flex;
            border-radius: 20px;
            margin: 0.5rem;

        }

        .card-body {
            display: flex;
            flex-direction: column;


            .card-button {
                @include mixin.button(variables.$colorsecondary, variables.$hoverbutton);


            }


        }

    }

}