@use"../utilities/mixin";
@use"../utilities/variables";

.global-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    

    background: linear-gradient(to top, variables.$colorsecondary, variables.$backgroundsecondary);


    .enlases-footer {

        .link-footer {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
        }
    }

    .redes-footer {

        .iconos-footer {
            display: flex;
            flex-direction: row;
            gap:10px;
            padding-left: 0px;
        }

    }

    .logo-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }
}