@use"../base/tipografia";
@use"../utilities/mixin";
@use"../utilities/variables";

.formulario {
  @include mixin.flex(column, start, center);
  width: 100%;
  padding: 1rem;

  @media (min-width: 768px) {
    @include mixin.flex(column, space-between, flex-start);
  }

  .form-input {
    @include mixin.flex(column, start, center);

    @media (min-width: 768px) {

      @include mixin.flex(row, space-between, center);
      width: 70%;
      margin-left: 0;
    }


  }

  .form-input input {
    border: 1px solid variables.$colorprimary;
    border-radius: 5px;
    outline: none;

    @media(min-width: 768px) {
      width: 70%; }
  }


  .boton-form {
    @include mixin.button(variables.$colorsecondary, variables.$hoverbutton);
    width: 100%;

    @media(min-width: 768px) {
      width: 25%; 
    }
  }
}
