@use "../utilities/mixin";
@use"../utilities/extend";
@use"../componets/navBar";
@use"../utilities/variables";
@use"../base/tipografia";
@use"../base/reset";

.background-home {

    padding-bottom: 2rem;
    margin-bottom: 0;
    background-image: url("../img/fondos/fondo-claro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .navbar .nav-link {
        @extend %nav-global;
    }

}

.hero {
   
    
    @include mixin.flex(column, space-around, center);
    width: 100%; 
    max-width: 90%; 
    height: auto; 
    padding: 1.5rem; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(#ffffff, 1);
    gap: 16px;
    margin: 0 auto; 

    @media (min-width:768px) {
        width: 50%;
        margin-left: 0;
      
    }
   

    .hero-button {
        @include mixin.button(variables.$colorprimary, variables.$hoverbutton);
        width: 100%; 

        @media (min-width: 768px) {
            align-items: left;
        }
    }
}

