@use"../utilities/variables";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
main{
    background-color: variables.$backgroundsecondary;
}
footer{
    background-color: variables.$backgroundsecondary;
}