@use"../utilities/variables";

%nav-global{
      font-family: "Playfair", serif;
    color: variables.$textclear;
    size: 64px;
    font-weight: bold;

    &:hover {
        color: variables.$colorsecondary;
        text-decoration: underline solid 3px;
        text-underline-offset: 10px
    }

}
