@use"../base/tipografia";


@mixin flex ($direction, $justify, $align) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    margin: 2rem;
    gap: 16px;

}

@mixin button ($color-back, $color-hover) {

    display: flex;
    padding: 9px;
    border: none;
    border-radius: 20px;
    background-color: $color-back;
    font-family:"DM Sans", sans-serif;
    text-align: center;
    



    &:hover {
        background-color: $color-hover;
    }
}

